@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #1d273b;
    font-weight: 300;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.container1 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px;
}

/* Navigation */

header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}

nav {
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out .5s;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo {
    height: 80px;
}

.nav .logo img {
    margin-top: 16px;
    height: 60%;
    vertical-align: top;
}

.links-header {
    font-weight: normal;
    transition: ease-in-out .5s;
}

.nav .links-header a{
    color: #5d6678;
    text-decoration: none;
    margin-left: 20px;
}

.nav .links-header i {
    color: red;
}

.hamburger {
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color .5s ease-in;
}

.hamburger > i {
    font-size: 25px;
    line-height: 80px;
}

/* Presentation */

h1 {
    font-size: 50px;
}

.content-header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-header > img {
    width: 550px;
    animation: ease-in animat 1s;
}

.texts-header {
    margin: 0 0 0 30px;
}

.content-header p {
    margin-top: 14px;
    color: #5d6678;
}

.content-header a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: rgb(66, 65, 85);
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(124, 116, 230, 0.7);
}

.title {
    font-size: 50px;
}

/* Services Section */

#services {
    background: #f2f2f2;
}

.container-article {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.article {
    width: 29%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: .5s;
}

.article:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.article > i {
    font-size: 30px;
    color: #fff;
    background: #693CE9;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0 8px 32px rgb(42, 55, 238, .5);;
}

.article > h3 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 40px;
}

.article > p {
    font-weight: normal;
    color: #5d6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

/* About Section */

.about {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about > img {
    width: 550px;
}

.texts-about {
    margin: 0 0 0 30px;
}

.texts-about p {
    margin-top: 14px;
    color: #5d6678;
}

.texts-about a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: rgb(66, 65, 85);
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(124, 116, 230, 0.7);
}

/* Results Section */

.results {
    background: #5B27EF;
    padding-top: 30px;
}

.content-results {
    display: flex;
    justify-content: space-evenly;
}

.numbers {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbers .number {
    width: 45%;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
}

.numbers .number h4 {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.numbers .number p {
    color: #f2f5fc;
    font-weight: normal;
}

.results-texts {
    width: 37%;
}

.results-texts h4 {
    color: #fff;
    font-size: 40px;
}

.results-texts p {
    color: #fff;
    margin: 20px 0;
}

.results-texts > a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

/* Skills Sections */

.skills {
    display: flex;
    justify-content: space-between;
}

.skills > img {
    width: 500px;
}

.box-skills {
    margin: 30px 30px 0 0;
}

.box-skills h4 {
    font-weight: 400;
    font-size: 24px;
    background: #f2f2f2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}

.box-skills i {
    color: #1fde82;
    font-size: 20px;
    margin-right: 10px;
}

/* Contact */

#contact {
    padding: 20px;
    background: #000;
}

.title-contact {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-contact h3 {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
}

.container-contact {
    padding-top: 10px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-contact .box-contact {
    text-align: center;
}

.container-contact .box-contact .icon-contact {
    font-size: 80px;
    cursor: pointer;
    color: #fff;
}

.container-contact .box-contact .icon-contact h4,
 .container-contact .box-contact .icon-contact h3 {
    position: relative;
    overflow: hidden;
    font-weight: 400;
    margin: 0;
    padding: 2px 5px;
    font-size: 24px;
    transition-delay: 0.3s;
    color: transparent;
}

.container-contact .box-contact .fa:hover ~ h4,
 .container-contact .box-contact .fa:hover ~ h3 {
    color: #fff;
}
.container-contact .box-contact h4 {
    font-weight: bold;
    margin: 5px 0;
    font-style: 30px;
}

.container-contact .box-contact .icon-contact h4:before,
 .container-contact .box-contact .icon-contact h3:before {
     content: '';
     position: absolute;
     top: 0;
     left: 100%;
     width: 100%;
     height: 100%;
     background: #00bcd4;
     transition: 1s;
}

.container-contact .box-contact .icon-contact h4:before {
    left: initial;
    right: 100%;
    background: #9c27b0;
}

.container-contact .box-contact .fa:hover ~ h3:before {
    left: -100%;
}

.container-contact .box-contact .fa:hover ~ h4:before {
    left: initial;
    right: -100%;
}


/* Footer */

footer {
    background: #212529;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter {
    width: 20%;
    text-align: center;
}

.partFooter h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter p {
    margin-top: 10px;
    color: #868E96;
}

.partFooter a {
    display: block;
    text-decoration: none;
    color: #868E96;
    transition: color 0.3s ease-in-out;
    margin-bottom: 10px;
}

.partFooter a:hover {
    color: #fff;
}

.partFooter img {
    width: 30%;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media i {
    font-size: 20px;
    display: inline-block;
    color: #868E96;
    border: 1px solid #868E96;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out 0.3s;
    margin-right: 5px;
}

.social-media i:hover {
    color: #000;
    background: #fff;
    border-color: #fff;
}

/* Responsive */

@media screen and (max-width : 800px) {
    .title {
        font-size: 45px;
    }

    .content-header {
        flex-direction: column;
        justify-content: space-evenly;
        height: 720px;
    }

    .content-header > img {
        width: 400px;
    }

    .texts-header {
        margin: 0;
    }

    /* Services Section */

    .article {
        width: 45%;
    }

    /* About Section */

    .about {
        height: 720px;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .about > img {
        width: 400px;   
    }

    /* Results Section */

    .content-results {
        flex-direction: column-reverse;
    }

    .results-texts {
        width: 100%;
    }

    .results-texts > a {
        margin-bottom: 60px;
    }

    .numbers {
        width: 100%;
    }
    
    /* Skills */

    .skills {
        flex-direction: column-reverse;
        align-items: center;
    }

    .box-skills {
        margin: 0 0 40px 0;
    }

    .skills > img {
        width: 400px;
    }

    /* Footer */

    footer {
        justify-content: space-evenly;
    }

    .partFooter {
        width: 40%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width : 600px) {
    .nav {
        padding: 0 10px;
    }

    .links-header {
        position: fixed;
        background: #6441A5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        clip-path: circle(0% at 100% 0);
    }

    .nav .menu-two {
        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);
    }

    .nav .links-header a {
        color: #fff;
    }

    .nav .links-header i {
        font-size: 40px;
    }

    .content-header > img {
        width: 200px;
    }

    .hamburger {
        display: block;
    }

    /* Services */

    .article {
        width: 100%;
    }

    /* About */

    .about > img {
        width: 200px;
    }

    /* Results */

    .numbers .number {
        width: 95%;
    }

    .results-texts h4 {
        font-size: 35px;
    }

    /* Skills */

    .skills > img {
        width: 200px;
    }

    .box-skills h4 {
        width: 100%;
    }
}

/* Animations */

@keyframes animat {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1);
    }
}